name: 02 Build and Publish Artifacts/Libs on Release

on:
  release:
    types: [published]

env:
  UV_PUBLISH_USERNAME: "_json_key_base64"
  UV_PUBLISH_PASSWORD: ${{ secrets.GCLOUD_ARTIFACT_REPO_TOKEN }}
  UV_INDEX_NMXDIA_PACKAGES_USERNAME: "_json_key_base64"
  UV_INDEX_NMXDIA_PACKAGES_PASSWORD: ${{ secrets.GCLOUD_ARTIFACT_REPO_TOKEN }}

jobs:
    build-and-publish:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
        - name: Install UV
          uses: astral-sh/setup-uv@v6
        - name: Install Dependencies
          run: uv sync --locked
        - name: UV Build
          run:  |
            uv build --package appkit-assistant
            uv build --package appkit-commons
            uv build --package appkit-imagegen
            uv build --package appkit-mantine
            uv build --package appkit-ui
            uv build --package appkit-user
        - name: Publish Python Packages
          run: uv publish #--index mantine_packages
